<footer>
  <div class="footer-content">
    <div class="footer-menu">
      <ul>
        <li>
          <a routerLink="/home">Hem</a>
        </li>
        <li>
          <a routerLink="/about" >Om mig</a>
        </li>
        <li><a  routerLink="/contact" >Kontakt</a></li>
      </ul>
      <p>Uppdaterad 07/11-21</p>
    </div>
    <!-- <div> Copyright © Kaj Berg 2021</div> -->
    <div class="footer-social">
      <p>Copyright © Kaj Berg 2021</p>
      <ul>
        <li>
          <a
            href="https://www.linkedin.com/in/kaj-berg-07b914210/"
            target="_blank"
            rel="noreferrer"
            ><i class="linked-icon">
              <img
                src="../../../assets/images/linkedin.svg"
                alt="linkedin icon"
              /> </i
          ></a>
        </li>

        <li>
          <a
            href="https://github.com/kajberg84?tab=repositories"
            target="_blank"
            rel="noreferrer"
            ><i class="github-icon">
              <img
                src="../../../assets/images/github.svg"
                alt="github icon"
              /> </i
          ></a>
        </li>
      </ul>
    </div>
    <div class="theme-button">
      <ul>
        <li>Ändra</li>
        <li>theme</li>
      </ul>
    </div>
  </div>
</footer>
