<footer>
    <div class="footer-content">
      <div class="footer-logo">
        <!-- <img src="assets/images/logo.png" alt=""> -->
        <p> Footer logo </p>
      </div>
      <div class="footer-menu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="footer-social">
        <ul>
          <li><a href="#"><i class="fb-icon">fb</i></a></li>
          <li><a href="#"><i class="linked-icon">li</i></a></li>
          <li><a href="#"><i class="github-icon">gi</i></a></li>
        </ul>
      </div>
    </div>
</footer>
