<footer>
    <div class="footer-content">
      <div class="footer-menu">
        <ul>
          <li>
            <a routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li>
            <a routerLink="/about" routerLinkActive="active">About</a>
          </li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <p>Updated 03/11-21</p>
      </div>
      <div> Copyright © Kaj Berg 2021</div>
      <div class="footer-social">
        <ul>
          <li><a href="#"><i class="fb-icon">fb</i></a></li>
          <li><a href="#"><i class="linked-icon">li</i></a></li>
          <li><a href="#"><i class="github-icon">gi</i></a></li>
        </ul>
      </div>
    </div>
</footer>


<!-- <a
href="https://www.linkedin.com/in/kaj-berg-07b914210/"
target="_blank"
rel="noreferrer"
>
{linkedInIcon}
</a>
<a
href="https://github.com/kajberg84?tab=repositories"
target="_blank"
rel="noreferrer"
>
{gitIcon}
</a> -->