.footer-content {
  background-color: #CCCCCC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .footer-menu{
    margin-left: 2rem;
    margin-top: 1rem;
    p{
      font-size: smaller;
      font-style: italic;
    }
  }
  .footer-social {
    margin-right: 2rem;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}

.theme-button {
  margin-right: 2rem;
}

.linked-icon {
  margin-right: 1rem;
}