header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
    list-style: none;
    margin-right: 1rem;
  }
  li a {
    text-decoration: none;
  }
}
