<div class="top-wrapper">
  <h1>Kaj Berg</h1>
  <h2 class="pri-color mt10">Fullstack Webbutvecklare</h2>
</div>

<div class="about-container mt10">
  <ul class="about_text">
    <h2 class="tac pri-col">Om mig</h2>
    <li class="mt10">
      Jag är en fullstackutvecklare från Norrköping som huvudsakligen håller på
      med webbutveckling.
    </li>
    <li>
      På fritiden umgås jag med min fru och barn och hittar ofta på saker med
      dem. Annars så tränar jag, spelar frisbeegolf/beach och sällskapspel. Jag
      gör också egna projekt på fritiden(just nu en e-handel och en
      sällskapsspelsapp).
    </li>
    <li>
      Senaste 10 åren har jag drivit eget massageföretag. Jag har alltid haft
      både datorn och träningen som fritidsintresse.
    </li>
    <h2 class="tac pri-col">Personlig info</h2>
    <li class="">
      <span class="pers-info">Födelsedatum: </span>1984 / 05 / 06
    </li>
    <li class=""><span class="pers-info">Nationalitet:</span> Sverige</li>
    <li class=""><span class="pers-info">Adress:</span> Åby, Norrköping</li>
    <li class=""><span class="pers-info">Email: </span>kajberg84@gmail.com</li>
  </ul>
  <div class="education">
    <ul class="edu_text">
      <h2 class="tac pri-col">Arbetslivserfarenheter</h2>

      <li class="mt20">
        <p class="pers-info">Eget företagare </p>
        <p class="comp_info">
          <span class="pers-info pri-col">KP:s Massage</span>
           - Driver eget massageföretag. Jobbar gentemot företag.
          Sköter allt det praktiska som massage/fysioterapi och det
          teoretiska(fakturering, deklarationer osv).
        </p>
      </li>

      <li class="mt20 pri-col">
        <p class="pers-info ">Konsult, Montör</p>
        <p class="comp_info">
          <span class="pers-info pri-col">Olika företag</span>
           - Har gjort flera olika konsultuppdrag ex montör, köra
           skjutstativtruck/motviktstruck. Sen blev jag satt
           framför datorn och programmerade i C++.
        </p>
      </li>

    </ul>
    <ul class="edu_text">
      <h2 class="tac pri-col">Utbildning</h2>

      <li class="mt20">
        <p class="pers-info  pri-col">Bachelor Of Science in Webdevelopment <span>2020 - 2022(jun)</span> </p>
        <p class="comp_info">
          <span class="pers-info">Linnéuniversitetet</span>
           - Webbprogrammerare 120poäng
        </p>
      </li>
      <li class="mt20">
        <p class="pers-info  pri-col">University Degree in Frontenddevelopment <span>2021 - 2023(mar)</span> </p> 
        <p class="comp_info">
          <span class="pers-info">YH-utb Växjö/EC Stream</span>
           - Frontendutvecklare, 2 år.
        </p>
      </li>
      <li class="mt20">
        <p class="pers-info  pri-col">Intensive Japanese focus culture and technics in Tokyo <span>2007</span> </p>
        <p class="comp_info">
          <span class="pers-info">Geos institution of language and culture</span>
           - Study the Japanese language and culture with a focus on technics.
        </p>
      </li>

      <li class="mt20 ">
        <p class="pers-info  pri-col">Computer & Mathematics HighSchool <span>1999 - 2002</span> </p>
        <p class="comp_info">
          <span class="pers-info">Ebersteinska gymnasiet</span>
           - MatteData - högskoleinriktning
        </p>
      </li>

    </ul>
  </div>
  <div class="main-wrapper_image">
    <img
      src="../../../assets/images/headshot.jpg"
      class="headshot-image"
      alt="picture of a monitor and a cellphone"
    />
  </div>
</div>
