<div class="top-wrapper">
  <h1>Kaj Berg</h1>
  <h2 class="pri-color mt10">Fullstack Webbutvecklare</h2>
</div>

<div class="about-container mt10">
  <ul class="about_text">
    <h2 class="tac pri-color">Om mig</h2>
    <li class="mt10">
      Jag är en fullstackutvecklare från Norrköping som huvudsakligen håller på
      med webbutveckling.
    </li>
    <li>
      På fritiden umgås jag med min fru och barn och hittar ofta på saker med
      dem. Annars så tränar jag, spelar frisbeegolf/beach och sällskapspel. Jag
      gör också egna projekt på fritiden(just nu en e-handel och en
      sällskapsspelsapp).
    </li>
    <li>
      Senaste 10 åren har jag drivit eget massageföretag. Jag har alltid haft
      både datorn och träningen som fritidsintresse.
    </li>
    <h2 class="tac pri-color">Personlig info</h2>
    <li class=""><span class="pers-info">Födelsedatum: </span>1984 / 05 / 06</li>
    <li class=""><span class="pers-info">Nationalitet:</span> Sverige</li>
    <li class=""><span class="pers-info">Adress:</span> Åby, Norrköping</li>
    <li class=""><span class="pers-info">Email: </span>kajberg84@gmail.com</li>

  </ul>
  <div class="education">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, aliquid culpa
    mollitia sunt ab blanditiis. Laborum quidem neque voluptate unde alias
    pariatur aut, amet a voluptatum, totam magni consequatur beatae?
  </div>
  <div class="main-wrapper_image kossa">
    <img
      src="../../../assets/images/headshot.jpg"
      class="headshot-image"
      alt="picture of a monitor and a cellphone"
    />
  </div>
</div>
