<div class="main-container">
  <div class="main-wrapper_text">
    <h1>{{getHeader(4)}}</h1>
    <p class="mt20">
      Det är relativt nytt (2012) och man kan säga att det är ett förbättrat
      javaScript. Det är hårdtypat, säkrare och räknas som ett strikt superset
      av JS. Det lägger till funktioner till javascript såsom ex interfaces och
      static types.
    </p>
    <p class="mt10">
      Vad gör då ett mera hårdtypat javascript språk? Det är till för att kunna
      deklarera typer av inputs/funktioner/metoder osv vilket leder till mindre
      buggar och färre säkerhetsluckor. Detta gör också att man hittar buggar
      vid kompileringen istället för vid runtime vilket sparar en hel del tid.
      TS har bra support för IDE:s. TS gör att det är enklare att underhålla och
      öka läsbarheten i kod.
    </p>
  </div>

  <div class="main-wrapper_image">
    <img
      src="../../../assets/images/typescript.svg"
      class="typescript-image"
      alt="picture of a walking person in a hoddie infront of a billboard"
    />
  </div>
</div>
