

<!-- <mat-card> kossans kort</mat-card> -->

<mat-card>
  <mat-card-header>
    <mat-card-title>Kossan</mat-card-title>
    <mat-card-subtitle>Äter gräs</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, quam! Iste aliquid rem eum debitis repellendus
    quibusdam fugit facilis unde animi, exercitationem aspernatur vel sit repudiandae aut explicabo consequatur neque?
  </mat-card-content>

  <mat-card-footer class="app-footer">
    Footer
  </mat-card-footer>
</mat-card>

<app-aboutme></app-aboutme>

<router-outlet></router-outlet>