<div class="ang-container">
  <h1 class="ang-h1">Kort förklaring över angulars struktur</h1>

  <div class="ang-wrapper mt20">
    <div class="ang-wrapper_text ml10">
      <section>
        <h3>Komponenter</h3>
        <p>
          En komponent är en simpel byggsten i ett system som krävs för att
          sätta ihop till större delar. Exempelvis en dator kan ett grafikkort
          vara en komponent i hela datorn osv. i Angular har alla komponenter en
          template och bara en komponent kan instansieras per template
        </p>
      </section>
      <section class="mt10">
        <h3>Templates</h3>
        <p>
          Templates är själva HTML vyn där man visar datan som ska renderas. I
          Angular kan man definiera en template med inline syntax eller med
          templateUrl.
        </p>
      </section>
      <section class="mt10">
        <h3>Moduler</h3>
        <p>
          En app består av separata moduler. Dess syfte är att skapa upp logiska
          gränser, separera funktionaliteten och logiken.
        </p>
      </section>
      <section class="mt10">
        <h3>Services</h3>
        <p>
          Service är oftast en klass som gör en sak och gör den väldigt bra.
          Exempel av en service skulle kunna vara en fetchservice som hämtar
          data från databasen.
        </p>
      </section>
      <section class="mt10">
        <h3>Metadata och Decorators</h3>
        <p>
          Metadatan är till att konfigurera en klass så den får sitt förväntade
          beteende. TS decorator definierar klassen vilket sker på ett speciellt
          sätt. Denna kan då definieras och kopplas samma med en klass syntax,
          metoder, funktioner, parametrar osv.
        </p>
      </section>
    </div>

    <div class="ang-image_wrapper">
      <img
        src="../../../assets/images/angularstructure.jpeg"
        class="ang-image"
        alt="picture of an programmer"
      />
    </div>
  </div>
</div>
