<div class="main-container">
  <div class="main-wrapper_text ">
    <h1>Vad är Single Page Application (SPA)?</h1>
    <p class="mt20">
      En Spa Applikation består av en webbsida som dynamiskt uppdaterar information via anrop till ex en webbserver. Istället för traditionella där man laddar hela sidor så uppdaterar en SPA applikation bara den datan som användaren behöver se eller vill ändra. Detta gör att användaren laddar mycket snabbare och servern behöver bara skicka den informationen som krävs istället för all information hela tiden. 
    </p>
    <p class="mt10">
      Kort förklarat så kan man säga att det är en applikation med endast en sida som manipulerar utseendet genom användning av javascript på klienten.
    </p>
  </div>

  <div class="main-wrapper_image">
    <img
      src="../../../assets/images/spa.svg"
      class="spa-image"
      alt="picture of a monitor and a cellphone"
    />
  </div>
</div>
