<div class="main-container">
  <div class="main-wrapper_text">
    <h1>En laborationssida i angular</h1>
    <p class="mt20">
      Detta är en sida som jag skapat i angular för en kurs i
      frontendutveckling. Frågeställningen var följande:
    </p>
    <ul class="mt10">
      <li>0. Presentation av dig själv.</li>
      <li>1. Förklara vad Angular är och varför det används</li>
      <li>2. Förklara för vad Single page applications är</li>
      <li>
        3. Beskriv de fundamentala delarna i Angulars arkitektur (rita gärna
        beskrivande)
      </li>
      <li>
        4. Redogör för vad TypeScript är och dess syfte (varför vill vi använda
        Typescript)
      </li>
      <li>
        5. Förklara skillnaden mellan att utveckla en webbapplikation som en
        single page applikation med Angular eller som en "traditionell"
        webbapplikation.
      </li>
    </ul>
  </div>

  <div class="main-wrapper_image">
    <img
      src="../../../assets/images/programmer.svg"
      class="main-image"
      alt="picture of an programmer"
    />
  </div>
</div>
