<div class="home-container">
  <div class="home-wrapper_text">
    <h1>En laborationssida i angular</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores consequuntur quisquam asperiores nesciunt cumque, in voluptas quos ad autem enim error mollitia esse quas tempora incidunt fugit eum illum libero?
      Iste assumenda tempore dolorem consequuntur neque quidem unde, aliquid, rerum nemo, labore voluptates adipisci est aliquam perferendis quaerat. Ea, necessitatibus explicabo sequi perspiciatis obcaecati dolorum tenetur accusamus reiciendis facere. Laudantium.
      Deserunt iure consequatur nulla ad distinctio ullam, sint ex rem laudantium id, laborum nemo expedita possimus vel ea perspiciatis ipsam, nesciunt aliquid dicta? Saepe tenetur, quas dolor nulla fugiat ad?
     </p>
     <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores consequuntur quisquam asperiores nesciunt cumque, in voluptas quos ad autem enim error mollitia esse quas tempora incidunt fugit eum illum libero?
      Iste assumenda tempore dolorem consequuntur neque quidem unde, aliquid, rerum nemo, labore voluptates adipisci est aliquam perferendis quaerat. Ea, necessitatibus explicabo sequi perspiciatis obcaecati dolorum tenetur accusamus reiciendis facere. Laudantium.
      Deserunt iure consequatur nulla ad distinctio ullam, sint ex rem laudantium id, laborum nemo expedita possimus vel ea perspiciatis ipsam, nesciunt aliquid dicta? Saepe tenetur, quas dolor nulla fugiat ad?
     </p>
  </div>
  
  <div class="home-wrapper_image">
    <img src="../../../assets/images/programmer.svg"  class="home-image" alt="picture of an programmer">
    </div>

</div>
