.home-container {
  display: flex;
  flex-direction: row;
  p {
    margin: 10px;
  }
}

.home-wrapper_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.home-wrapper_image {
  padding: 100px 0;
}