
html, body { height: 100%; }
body { margin: 0; font-family: "mont-serrat", sans-serif; }

:root {
 --primary-color:#63AFFF;
 --primary-text-dark:#121212;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; 
  color:var(--primary-text-dark);
}

header, footer {
  height: 10vh;
}

.main-container {
  min-height: 80vh;
}

a:link, a:visited {
  text-decoration: none;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.main-wrapper_text {
    display: flex;
    flex-direction: column;
    margin: 2rem 10rem 0;
}

.main-wrapper_image {
  margin-top: 50px;
}

.pri-col{
  color: var( --primary-color);
}